@gray: #808285;
@blue: #0099CC;
@orange: #FF9999;
/*** spinedit (numeric) ***/
.icon-chevron-up {
  background-image: url(../images/sprites/number-up.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  display: block;
  height: 6px;
}

.icon-chevron-down {
  background-image: url(../images/sprites/number-down.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  display: block;
  height: 6px;
}

div.spinedit .icon-chevron-down {
  left: 8px;
  top: 6px;
}

div.spinedit .icon-chevron-up {
  top: -10px;
}

input[type="text"].spinedit {
  width: 90px;
  font-size: 21px;
  text-align: center;
  color: @gray;
  border-color: @gray;
  border-radius: 6px;

}

aside.cart {
  /** snipetedit (numeric)  ***/
  input[type="text"].spinedit {
    width: 64px;
    font-size: 15px;
    height: 21px;
    padding: 0;
  }
  div.spinedit {
    display: block;
  }
  div.spinedit .icon-chevron-down {
    left: 70px;
    top: -13px;
  }
  div.spinedit .icon-chevron-up {
    top: -20px;
    left: 70px;
  }
}


