@armchear-x: -2px;
@armchear-y: -2px;
@armchear-width: 1100px;
@armchear-height: 1100px;
@armchear: @armchear-x, @armchear-y, @armchear-width, @armchear-height;
@coffe-x: -1106px;
@coffe-y: -2px;
@coffe-width: 1100px;
@coffe-height: 1100px;
@coffe: @coffe-x, @coffe-y, @coffe-width, @coffe-height;
@employment-history-x: -2px;
@employment-history-y: -1106px;
@employment-history-width: 1100px;
@employment-history-height: 1100px;
@employment-history: @employment-history-x, @employment-history-y, @employment-history-width, @employment-history-height;
@time-x: -1106px;
@time-y: -1106px;
@time-width: 1100px;
@time-height: 1100px;
@time: @time-x, @time-y, @time-width, @time-height;
@holiday-x: -2210px;
@holiday-y: -2px;
@holiday-width: 1100px;
@holiday-height: 1100px;
@holiday: @holiday-x, @holiday-y, @holiday-width, @holiday-height;
@shampane-x: -2210px;
@shampane-y: -1106px;
@shampane-width: 1100px;
@shampane-height: 1100px;
@shampane: @shampane-x, @shampane-y, @shampane-width, @shampane-height;
@ios-android-x: -2px;
@ios-android-y: -2210px;
@ios-android-width: 213px;
@ios-android-height: 261px;
@ios-android: @ios-android-x, @ios-android-y, @ios-android-width, @ios-android-height;
@java-dev-x: -219px;
@java-dev-y: -2210px;
@java-dev-width: 213px;
@java-dev-height: 261px;
@java-dev: @java-dev-x, @java-dev-y, @java-dev-width, @java-dev-height;
@mobile-x: -436px;
@mobile-y: -2210px;
@mobile-width: 213px;
@mobile-height: 261px;
@mobile: @mobile-x, @mobile-y, @mobile-width, @mobile-height;
@business-analytics-x: -653px;
@business-analytics-y: -2210px;
@business-analytics-width: 212px;
@business-analytics-height: 260px;
@business-analytics: @business-analytics-x, @business-analytics-y, @business-analytics-width, @business-analytics-height;
@team-lead-x: -869px;
@team-lead-y: -2210px;
@team-lead-width: 212px;
@team-lead-height: 260px;
@team-lead: @team-lead-x, @team-lead-y, @team-lead-width, @team-lead-height;
@logo-x: -1085px;
@logo-y: -2210px;
@logo-width: 166px;
@logo-height: 60px;
@logo: @logo-x, @logo-y, @logo-width, @logo-height;
@linkedin-x: -1255px;
@linkedin-y: -2210px;
@linkedin-width: 49px;
@linkedin-height: 49px;
@linkedin: @linkedin-x, @linkedin-y, @linkedin-width, @linkedin-height;
@facebook-x: -1308px;
@facebook-y: -2210px;
@facebook-width: 49px;
@facebook-height: 49px;
@facebook: @facebook-x, @facebook-y, @facebook-width, @facebook-height;
@top-x: -1361px;
@top-y: -2210px;
@top-width: 30px;
@top-height: 35px;
@top: @top-x, @top-y, @top-width, @top-height;

.sprite-image() {
    background-image: url('../images/global/sprite.png');
}
.sprite-position(@sprite) {
    background-position: extract(@sprite, 1) extract(@sprite, 2);
}
.sprite-width(@sprite) {
    width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
    height: extract(@sprite, 4);
}
.sprite(@sprite) {
    .sprite-image();
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
}
