@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic');
@import "lesshat";
@import "bootstrap/bootstrap";
@import "swiper/swiper";
@import "sprite";


/*Fonts Vars*/
/*@font-family-sans-serif: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
@headings-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-open-sans: @headings-font-family;
@headings-font-weight: bold;

/*Main Colors*/
@black: #363636;
@dark-blue: #3a5fcd;
@blue: #539de8;
@orange: #e2350b;
@red: #e2350b;
@gray: #9e9e9e;
@dark-gray: @gray;
@white: #ffffff;
@shadow-color: rgba(34, 34, 31, 0.13);

/*Headings Styles*/
@font-size-h1: 60px;
@font-size-h2: 36px;
@font-size-h3: 30px;
@font-size-h4: 18px;
@headings-color: @black;
@article-top-margin: 100px;
@article-bottom-margin: 90px;

/* Typograhpy*/
@font-size-base: 18px;

/*Link Vars*/
@text-color: @black;
@link-color: @black;
@link-hover-color: @black;
@link-hover-decoration: underline;

/*Navbar Vars*/
@nav-link-hover-bg: none;
@navbar-height: 70px;
@navbar-margin-bottom: 0;
/*@navbar-nav-height: 50px;*/

/*Grid Customization*/
@grid-float-breakpoint: @screen-md-min;
@column-width: percentage((1/ @grid-columns));

/*Swiper Vars*/
@swiper-container-padding-bottom: 50px;
@swiper-bullets-bottom: 0;
@swiper-nav-padding: 22px;

/*Global Styles*/

/*Sprites*/
.sprite {
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  &.logo {
    .sprite(@logo);
  }
  &.java-dev {
    .sprite(@java-dev);
  }
  &.team-lead {
    .sprite(@team-lead);
  }
  &.business-analytics {
    .sprite(@business-analytics);
  }
  &.ios-android {
    .sprite(@ios-android);
  }
  &.employment-history {
    .sprite(@employment-history);
  }
  &.holiday {
    .sprite(@holiday);
  }
  &.time {
    .sprite(@time);
  }
  &.armchear{
    .sprite(@armchear);
  }
  &.coffe{
    .sprite(@coffe);
  }
  &.shampane{
    .sprite(@shampane);
  }
  &.facebook::after{
    .sprite(@facebook);
  }
  &.linkedin::after{
    .sprite(@linkedin);
  }
  /* &.java-developer(
   .generate-original(java-dev);
 )
   &.git {
     // .generate-original(git);
     .generate-original(git);
   }
   &.yii {
     // .generate-original(yii);
     .generate-orange(yii);
   }
   &.php {
     // .generate-original(php);
     .generate-orange(php);
   }
   &.modx {
     // .generate-original(modx);
     .generate-orange(modx);
   }
   &.jquery {
     // .generate-original(jquery);
     .generate-orange(jquery);
   }
   &.wp {
     // .generate-original(wp);
     .generate-orange(wp);
   }
   &.mysql {
     // .generate-original(mysql);
     .generate-orange(mysql);
   }
   &.ajax {
     // .generate-original(ajax);
     .generate-orange(ajax);
   }
   &.frontend {
     .generate-original(frontend);
     //.generate-orange(frontend);
   }
   &.backend {
     .generate-original(backend);
   }
   &.cms {
     .generate-original(cms);
   }
   &.ui {
     .generate-original(ui);
   }
   &.small {
     width: 50%;
     height: 50%;
   }*/
  &.icon {
    &.round {
      z-index: 3;
      .border-radius(50%);
      border: 3px solid #ffffff;
      width: 40px;
      height: 40px;
      &.bottom-icon {
        bottom: 20px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
      }
      &.top-icon {
        top: 20px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
      }
    }
    /*  &::after {

        .middle();
        content: '';
      }
      &.i::after {
        .sprite(@i);
      }
      &.arrow-down::after {
        .sprite(@arrow-down);
      }
      &.users::after {
        .sprite(@users);
      }
      &.comment::after {
        .sprite(@comment);
      }
      &.phone::after {
        .sprite(@phone);
      }
    }*/
  }
}

body {
  font-family: @font-family-open-sans;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.normalcase {
  text-transform: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  cursor: default;
}

p {
  cursor: default;
}

span {
  cursor: default;
}

.vertical-middle {
  position: absolute;
  top: 50%;
  .transform(translateY(-50%));
}

.horizontal-middle {
  position: absolute;
  left: 50%;
  .transform(translateX(-50%));
}

.horizontal-middle(@width) when (@width = true) {
  width: 100%;
}

.middle {
  .vertical-middle();
  .horizontal-middle();
  .transform(translateY(-50%) translateX(-50%));
}

.padding-reset {
  padding: 0;
}

.photo img {
  max-width: 100%;

}

.margin-reset {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.icon-bar {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {

  color: @white;
  text-transform: none;
  font-family: @font-family-open-sans;
  .border-radius(0);
  font-weight: normal;
  &:hover {
    .animation(swing, 0.5s, forwards);
    /*
        -webkit-animation: swing 0.5s forwards;
        animation: swing 0.5s forwards;*/
  }

  &-red {
    padding: 7px 150px 8px;
    background-color: @red;
    font-size: 30px;
  }
  &-blue {
    background-color: @blue;
    padding: 6px 85px 7px;
    color: @white;
    font-size: 18px;
  }
}

.text-center {
  text-align: center;
}

/*navbar style*/

.navbar {
  background-color: @white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: @black;
  .box-shadow(4px, 7px, 32.76px, 6.24px, @shadow-color);
  /*
    box-shadow: 4px 7px 32.76px 6.24px rgba(34, 31, 31, 0.13);*/
  /*.navbar-header{
    float: left;
  }*/
  li:hover,
  li:focus {
    a::after {
      width: 100%;
    }
  }
  a {
    font-size: 18px;
    font-family: @font-family-open-sans;
    &:hover,
    &:focus {
      color: @dark-blue;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      background-color: @dark-blue;
      margin: 0 auto;
      width: 0;
      left: 0;
      right: 0;
      height: 3px;
      bottom: -1px;
      .transition(width, 0.2s, ease-in-out);
      .transition(background-color, .2s, ease-in-out);
    }
  }

  .navbar-brand {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      .transition(all, .5s, ease-in-out);
      /*
            transition: all 0.5s ease-in-out;*/
      &:hover {
        .scale(1.05);
      }
    }
  }
  .nav {
    float: right;
    & > li > a {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .navbar-collapse {
    padding: 0;
    overflow: visible;
  }
  .navbar-nav {
    text-align: center;
  }
}

/* form-style */
form {
  .form-control {
    .border-radius(0);
    border: none;
    font-size: 24px;
    color: @gray;
    width: 100%;
    max-height: 40px;
  }

}

/* swiper style*/
.swiper-container {
  img {
    width: 100%;
  }
}

.swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
}

.swiper-pagination-bullet {
  background-color: @blue;
  opacity: 1;
  margin-right: 10px;
}

.swiper-pagination-bullet-active {
  background-color: @dark-blue;
}

.swiper-slide {
  cursor: pointer;
}

/* vacancies */
.vacancies {
  margin-top: 30px;
  padding-bottom: 100px;
  header {
    margin: 85px 0 90px;
  }
  .description {
    img {
      width: 100%;
      margin-bottom: 10px;
      .transition(all, 0.7s, ease-in-out);
      /*transition: all 0.7s ease-in-out;*/
      &:hover {
        .scale(1.03);
        /* -o-transform: scale(1.03);
          -ms-transform: scale(1.03);
          -moz-transform: scale(1.03);
          -webkit-transform: scale(1.03);
          transform: scale(1.03);*/
      }
    }
    h3 {
      color: @black;
      font-size: 21px;
      margin: 0;
    }
    a {
      padding-top: 15px;
      color: @gray;
      font-size: 16px;
      text-decoration: underline;
    }
    .text-vacancy {
      display: none;
    }
  }

}

/* atmosphere */
.atmosphere {
  header {
    width: 100%;
    background-color: @blue;
  }
  h1 {
    color: @white;
    padding: 31px 0;
  }
  .swiper-container {

    h2 {
      position: absolute;
      left: 0;
      right: 0;
      margin: 160px auto 0;
    }
  }
}

/* team */
.team {
  padding: 75px 0 45px;
  header {
    h3 {
      margin: 0 0 75px;
    }
  }
  h4 {
    font-size: 24px;
    margin: 75px 0 0;
  }
}

/* offers */
.offers {
  h1 {
    font-size: 36px;
    padding: 30px 0 31px;
    color: @white;
    margin: 0 0 45px;
  }
  header {
    background-color: @red;
  }
  .item {
    margin-bottom: 40px;
    h2 {
      font-size: 18px;
      color: @blue;
      margin-top: 10px;
      font-weight: normal;
    }
  }
  .icon {
    text-align: center;
    img {
      max-width: 140px;
      .transition(all .7s ease-in-out);
      &:hover {
        .scale(1.3);
      }
    }
  }
}

/* start-career */
.start-career {
  background-color: @blue;
  padding: 50px 0;
  text-align: center;
  h1 {
    color: @white;
    font-weight: normal;
    font-size: 48px;
    margin: 0 0 50px;
  }
  a {
    color: @white;
    font-size: 24px;
    text-decoration: underline;
    margin: 50px 0 25px;
    display: block;
  }
}

/* connect */
.connect {
  padding: 40px 0;
  background-color: #eeeeee;
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 55px;
    padding-left: 15px;
  }
  h4 {
    padding-left: 15px;
    color: #646464;
    font-weight: normal;
    margin: 0 0 55px;

  }
  header h4 {
    margin: 0 0 35px;
  }
  .facebook {
    background-image: url(../images/sprites/facebook.png);
  }
  .linkedin {
    background-image: url(../images/sprites/linkedin.png);
  }
  .icon {
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 49px;
    height: 49px;
    margin-left: 35px;
    vertical-align: middle;

    &:hover {
      .scale(.95);
      .transition(all .5s eas-in-out);
    }
  }
  .form-control {
    width: 100%;
  }
}

/* footer */
footer {
  padding: 40px 0 0;
  color: #aaaaaa;
  font-size: 14px;
  text-align: center;
  .top {
    display: block;
    content: '';
    /*   background-image: url(../img/sprites/top.png);*/
    width: 30px;
    height: 35px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
  }
  h6 {
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    margin: 0;
  }
  a {
    color: #aaaaaa;
    font-size: 14px;
  }
  address {
    margin: 0;
  }
  .item {
    margin-bottom: 35px;

  }
}

@keyframes swing {
  15% {
    .translateX(5px);
  }
  30% {
    .translateX(-5px);
  }
  50% {
    .translateX(3px);
  }
  65% {
    .translateX(-3px);
  }
  80% {
    .translateX(2px);
  }
  100% {
    .translateX(0);
  }
}

.swing-animation {
  .animation(swing 1s ease);

}
